@use 'reset';
@use 'normalize';
@use 'ejercicio1';
@use 'ejercicio2';
@use 'ejercicio3';
@use 'ejercicio4';


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: lightgrey;
    padding: 1em;

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        & li {
            display: inline-block;
            margin-right: 20px;
            padding: 4px;
        }
    }

    & a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }


}

section {
    padding: 1em;

}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 24px;
}